<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dunsum.backend.batch.dao.BatchLogDao">

    <insert id="insBachLog" parameterType="com.dunsum.backend.entity.BachLogEntity" useGeneratedKeys="true" keyProperty="bachSeq">
        /* BatchLogDao.insLogBatch - javayaji */
        INSERT INTO JV_BACH_LOG (
              BACH_MGMT_ID
            , ST_DATE
            , ED_DATE
            , ERR_DATE
            , RUN_TYPE
            , RUN_TIME
            , MSG
            , SUB_MSG
            , RGST_DATE
            , RGST_USER_NO
        )
        VALUES (
              #{bachMgmtId}
            , #{stDate}
            , NULL
            , NULL
            , #{runType}
            , NULL
            , #{msg}
            , NULL
            , NOW()
            , #{rgstUserNo}
        )
    </insert>

    <update id="updBachLog" parameterType="com.dunsum.backend.entity.BachLogEntity">
        /* BatchLogDao.updBachLog - javayaji */
        UPDATE JV_BACH_LOG
           SET MSG = #{msg}
            <if test='edDate != null and !"".equals(edDate)'>
                , ED_DATE = #{edDate}
            </if>
            <if test='errDate != null and !"".equals(errDate)'>
                , ERR_DATE = #{errDate}
            </if>
            <if test='runTime != null and !"".equals(runTime)'>
                , RUN_TIME = #{runTime}
            </if>
            <if test='subMsg != null and !"".equals(subMsg)'>
                , SUB_MSG = #{subMsg}
            </if>
         WHERE BACH_SEQ = #{bachSeq}
    </update>
</mapper>